footer {
  display: flex;
  height: 10vh;
  background-color: rgb(36, 38, 51);
  margin-top: -10vh;
}

.empty {
  flex: 0.5;
}

.filled {
  flex: 5;
  height: 7vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  background-color: rgb(44, 46, 59);
  margin-top: -3vh;
  padding: 5px 0;
  border-radius: 0 0 0 15px;
}

.task-detail {
  display: flex;
}

.play-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -100px;
}

.fx {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 38, 51);
  padding: 7px 10px;
}
.fx h6 {
  margin: 0 10px;
}

.fx:nth-child(2),
.fx:nth-child(4) {
  margin-left: 10px;
}
